@import url(./styles/nav.css) layer(general);
@import url(./styles/simplebookmarker.css) layer(general);
@import url(./styles/features.css) layer(general);
@import url(./styles/downloadextension.css) layer(general);
@import url(./styles/faq.css) layer(general);
@import url(./styles/footer.css) layer(general);
:root {
    /*Primary*/
    --soft-blue: hsl(231, 69%,
            60%);
    --soft-red: hsl(0, 94%, 66%);
    /*Neutral*/
    --grayish-blue: hsl(229, 8%, 60%);
    --very-dark-blue: hsl(229, 31%, 21%);
    --content-width: 80%;
    /* --img-width: 700px; */
    --img-width: 70%;
    --button-box-shadow: 0px 2px 5px 0px var(--grayish-blue);
}

@font-face {
    font-family: 'Rubik';
    src: url('./fonts/Rubik/Rubik-VariableFont_wght.ttf');
}

* {
    box-sizing: content-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    width: 100svw;
    min-height: 100svh;
    container: body / inline-size;
    font-family: 'Rubik';
}


main {
    font-weight: 400;
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 10%;
    width: 100cqw;
    min-height: 100cqh;
    container: main / inline-size;
}

button[class="blue-link"] {
    background: var(--soft-blue);
    color: white;
    width: fit-content;
}

button[class="blue-link"]:hover {
    background: white;
    color: var(--soft-blue);
    outline: 1px solid var(--soft-blue);
}

button[class="gray-link"] {
    background: white;
    color: black;
}

button[class="gray-link"]:hover {
    background: white;
    color: black;
    outline: 1px solid black;

}

button:hover {
    cursor: pointer;
}

section[class="nav-container"] {
    width: 100%;
    background: var(--very-dark-blue);
}

svg[id="svgs"] {
    display: none;
}
p{
    color: var(--grayish-blue);
}
a:visited {
    color: inherit;
}

a {
    text-decoration: none;
}
@container body (inline-size < 1000px) {
    button[class="blue-link"] {
        width: 100%;
        height: 30px;
        padding: 0;
    }

    button[class="gray-link"] {
        width: 100%;
    }

}
