section[class="simple-bookmark-manager"] {
    width: var(--content-width);
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    padding: 3% 0% 10% 0%;
}

section[class="simple-bookmark-manager"] img {
    width: var(--img-width);
    margin: auto;
    box-shadow: 15%;

}

section[class="simple-bookmark-manager-image"] {
    position: relative;
}

section[class="info"] {
    width: 75%;
}

section[class="info"] h1 {
    font-size: xx-large;
}

menu[type="options"] {
    width: 30%;
    text-wrap: nowrap;
    gap: 5%;
}

menu[type="options"] button {
    padding: 10%;
    border-radius: 5px;
    border: 0;
    box-shadow: var(--button-box-shadow);
}

section[class="illustration-hero-container"] {
    position: absolute;
    top: 0;
    z-index: 1;
    height: 300px;
    width: 100%;
}

svg[class="illustration-hero"] {
    height: 100%;
    width: 100%;
    z-index: 1;
    position: absolute;
}

section[class="left-blue-background"] {
    height: 30cqh;
    width: 120%;
    bottom: -50px;
    background: blue;
    border-radius: 130px;
    position: absolute;
    z-index: 0;
    left: 35%;
}

@container body (inline-size < 1000px) {
    section[class="simple-bookmark-manager"] {
        width: var(--content-width);
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: 1fr;
        margin: auto;
        padding: 3% 0% 10% 0%;
        row-gap: 45cqh;
    }

    section[class="illustration-hero-container"] {
        position: absolute;
        top: 0;
        z-index: 1;
        height: 50cqh;
        width: 100%;
    }

    section[class="left-blue-background"] {
        height: 40cqh;
    }

    section[class="simple-bookmark-manager-image"] {
        order: 1;
    }

    section[class="info"] {
        width: 100%;
        order: 2;
        display: grid;
        place-items: center;
        text-align: center;
    }

    menu[type="options"] {
        width: 100%;
        text-wrap: nowrap;
        gap: 5%;
    }

    menu[type="options"] button {
        padding: unset;
    }
}

@container body (inline-size < 500px) {

    section[class="illustration-hero-container"] {
        height: 28cqh;
    }

    section[class="left-blue-background"] {
        height: 20cqh;
        top: 10cqh;
    }

    section[class="simple-bookmark-manager"] {
        row-gap: 1cqh;
    }
}
